Toolchain/build
Toolchain/install
Toolchain/downloads
Toolchain/src

docs/code-template.txt

build/

*.fd

# ===========================
# Sevrux Kernel Build
# ===========================

# Object files
kernel/src/*.o

# Built kernel
kernel/kernel.elf

# Generated ISO contents
iso/boot/kernel.elf

# Final ISO
sevrux.iso
